/*header font*/
h1 {
  font-family: 'Julius Sans One', sans-serif;
  border: double;
  text-align: center;

}

h3 {
  font-family: 'Julius Sans One', sans-serif;
}

body {
  background-color:#33CCCC;
}

/*screen style*/
.screen{
    width:80vw;
    height:auto;
    background-color:#2A3238;
    margin-left:8%;
    text-align: center;
    border-radius: 10%;
    border: double;
    color:#FFFFFF;
}

input {
  width: 50%;
}

.screen p{
    bottom: 0%;
}

.seat{
/*seat style*/

    width:12vw;
    height:15vh;
    background-color:#2A3238;
    margin-top:5%;
    display:inline-block;
    text-align:center;
    border-radius: 10%;
    border: double;
}
.row{
    margin-left:12%;
    width:auto;
}
.available{
  background-color:#FF6633;
  border-color:#2A3238;
}
/*styling for modal*/
#infoForm{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display:none;
    text-align:center;
    font-family:'Julius Sans One', sans-serif;
    box-shadow: 3px 3px 9px     #797777;

}

#formModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/*X close in form modal*/
.close{
    float:left;
    font-size:22px;
    border:1px solid black;
    width:2vw;
    background-color:crimson;
}
.reserveButton{
    border:none;
    background-color:#f66828;
    font-size:14px;
    border-radius:5%;
    height:5vh;
    margin-top:1%;
    text-decoration-color:  #FFFFFF;
}
label{
    text-align: center;
}

.taken{
    color:#FFFFFF;
    background-color:#2A3238;
    border-color: #FF6633;
}
/*back to top*/
.backToTop{
    border:double;
    background-color:#2A3238;
    color: #FFFFFF;
    border: double;
}


hi
